<h1>Create a Reviewer Profile!</h1>

<form action="/users/create" method="POST">
  <div class="form-group">
    <label>Your name</label>
    <input type="text" class="form-control" name="name">
  </div>
  <div class="form-group">
    <label>Hometown</label>
    <input type="hometown" class="form-control" placeholder="Boston" name="hometown">
  </div>
  <div class="form-group">
    <label>Email address</label>
    <input type="email" class="form-control" placeholder="name@example.com" name="email">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>